<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.ask.dao.BookMapper">
  <resultMap id="BaseResultMap" type="com.cn.ask.model.Book">
    <id column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="book_author" jdbcType="VARCHAR" property="bookAuthor" />
    <result column="isupdate" jdbcType="TIMESTAMP" property="isupdate" />
    <result column="cover_pic" jdbcType="VARCHAR" property="coverPic" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="font_num" jdbcType="VARCHAR" property="fontNum" />
    <result column="book_url" jdbcType="VARCHAR" property="bookUrl" />
    <result column="chapter" jdbcType="INTEGER" property="chapter" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    book_id, book_name, book_author, isupdate, cover_pic, info, state, font_num, book_url, 
    chapter
  </sql>
  <select id="selectByExample" parameterType="com.cn.ask.model.BookExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
    where book_id = #{bookId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from book
    where book_id = #{bookId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cn.ask.model.BookExample">
    delete from book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cn.ask.model.Book">
    insert into book (book_id, book_name, book_author, 
      isupdate, cover_pic, info, 
      state, font_num, book_url, 
      chapter)
    values (#{bookId,jdbcType=INTEGER}, #{bookName,jdbcType=VARCHAR}, #{bookAuthor,jdbcType=VARCHAR}, 
      #{isupdate,jdbcType=TIMESTAMP}, #{coverPic,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{fontNum,jdbcType=VARCHAR}, #{bookUrl,jdbcType=VARCHAR}, 
      #{chapter,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.ask.model.Book">
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        book_id,
      </if>
      <if test="bookName != null">
        book_name,
      </if>
      <if test="bookAuthor != null">
        book_author,
      </if>
      <if test="isupdate != null">
        isupdate,
      </if>
      <if test="coverPic != null">
        cover_pic,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="fontNum != null">
        font_num,
      </if>
      <if test="bookUrl != null">
        book_url,
      </if>
      <if test="chapter != null">
        chapter,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="bookName != null">
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookAuthor != null">
        #{bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="isupdate != null">
        #{isupdate,jdbcType=TIMESTAMP},
      </if>
      <if test="coverPic != null">
        #{coverPic,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="fontNum != null">
        #{fontNum,jdbcType=VARCHAR},
      </if>
      <if test="bookUrl != null">
        #{bookUrl,jdbcType=VARCHAR},
      </if>
      <if test="chapter != null">
        #{chapter,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cn.ask.model.BookExample" resultType="java.lang.Long">
    select count(*) from book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update book
    <set>
      <if test="record.bookId != null">
        book_id = #{record.bookId,jdbcType=INTEGER},
      </if>
      <if test="record.bookName != null">
        book_name = #{record.bookName,jdbcType=VARCHAR},
      </if>
      <if test="record.bookAuthor != null">
        book_author = #{record.bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.isupdate != null">
        isupdate = #{record.isupdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.coverPic != null">
        cover_pic = #{record.coverPic,jdbcType=VARCHAR},
      </if>
      <if test="record.info != null">
        info = #{record.info,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.fontNum != null">
        font_num = #{record.fontNum,jdbcType=VARCHAR},
      </if>
      <if test="record.bookUrl != null">
        book_url = #{record.bookUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.chapter != null">
        chapter = #{record.chapter,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update book
    set book_id = #{record.bookId,jdbcType=INTEGER},
      book_name = #{record.bookName,jdbcType=VARCHAR},
      book_author = #{record.bookAuthor,jdbcType=VARCHAR},
      isupdate = #{record.isupdate,jdbcType=TIMESTAMP},
      cover_pic = #{record.coverPic,jdbcType=VARCHAR},
      info = #{record.info,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      font_num = #{record.fontNum,jdbcType=VARCHAR},
      book_url = #{record.bookUrl,jdbcType=VARCHAR},
      chapter = #{record.chapter,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.ask.model.Book">
    update book
    <set>
      <if test="bookName != null">
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookAuthor != null">
        book_author = #{bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="isupdate != null">
        isupdate = #{isupdate,jdbcType=TIMESTAMP},
      </if>
      <if test="coverPic != null">
        cover_pic = #{coverPic,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="fontNum != null">
        font_num = #{fontNum,jdbcType=VARCHAR},
      </if>
      <if test="bookUrl != null">
        book_url = #{bookUrl,jdbcType=VARCHAR},
      </if>
      <if test="chapter != null">
        chapter = #{chapter,jdbcType=INTEGER},
      </if>
    </set>
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.ask.model.Book">
    update book
    set book_name = #{bookName,jdbcType=VARCHAR},
      book_author = #{bookAuthor,jdbcType=VARCHAR},
      isupdate = #{isupdate,jdbcType=TIMESTAMP},
      cover_pic = #{coverPic,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      font_num = #{fontNum,jdbcType=VARCHAR},
      book_url = #{bookUrl,jdbcType=VARCHAR},
      chapter = #{chapter,jdbcType=INTEGER}
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
</mapper>