<div class="Book" ng-controller="bookCtr">
	<header class="book_header">
		<span>斗破苍穹</span>
	</header>
	<div class="book_content">
		{{text}}
		<div class="book-modal">
			<div class="left blank" ng-click="turnPage(-1)"></div>
			<div class="center blank"></div>
			<div class="right blank" ng-click="turnPage(+1)"></div>
		</div>
		<!--  <script type="text/javascript">
			$(document).on("touchstart.aaa", function(eve) {
				eve = eve.originalEvent.touches[0];
				var left = eve.clientX, len;
				$(document).on("touchmove.aaa", function(eve) {
					eve=eve.originalEvent.touches[0];
					len = eve.clientX - left;
					event.preventDefault();
				})
				$(document).on("touchend.aaa", function() {
					$(document).off("aaa");
					
					if (len > 30) {
						alert("right")
					} else if (len < 0 && Math.abs(len) > 30) {
						alert("left")
					}
					event.preventDefault();
					return false;
				}) 
			})-->
		</script>
	</div>
	<footer class="book_footer">
		<span>第{{nowPage}}页</span> <span>共{{AllPage}}页</span>
	</footer>
</div>