<div class="Book" ng-controller="bookCtr" >
    <header class="book_header">
        <span>{{bookName}}</span>
    </header>
    <div class="book_content" book-body>
        <div class="book_text">
            {{text}}
            <div class="book-modal">
                <div class="left blank" ng-click="turnChapter('sub')"></div>
                <div class="center blank"></div>
                <div class="right blank" ng-click="turnChapter('add')"></div>
            </div>
        </div>
    </div>
    <footer class="book_footer">
        <span>第{{nowChapter}}章</span> <span>共{{AllChapter}}章</span>
    </footer>
    <div class="modal-con" chapter={{AllChapter}} nowchapter={{nowChapter}}>
        <div class="mo_header">
            <span class="font_icon fl back_icon">&#xe609;</span> <span ng-click="back(nowChapter)" class="nor_title">返回</span>
        </div>
        <div class="mo_content"></div>
        <div class="mo_footer">
            <p class="line">
                <span class="previous" ng-click="turnChapter('sub')">上一章</span> <span class="ball"></span> <span class="next" ng-click="turnChapter('add')">下一章</span>
            </p>
        </div>
    </div>
</div>
