<div class="Book" ng-controller="bookCtr">
	<div class="modal-con">
		<div class="mo_header">
			<span class="font_icon fl back_icon">&#xe609;</span>
            <span ui-sref="index" class="nor_title">返回</span>
		</div>
		<div class="mo_content"></div>
		<div class="mo_footer"></div>
	</div>
	<header class="book_header">
		<span>斗破苍穹</span>
	</header>
	<div class="book_content" book-body>
		{{text}}
		<div class="book-modal">
			<div class="left blank" ng-click="turnPage(-1)"></div>
			<div class="center blank"></div>
			<div class="right blank" ng-click="turnPage(+1)"></div>
		</div>
	</div>
	<footer class="book_footer">
		<span>第{{nowPage}}页</span> <span>共{{AllPage}}页</span>
	</footer>
</div>