<div class="list" ng-repeat="girl in girls">
    <div class="li_title sub_title">
        <span class="ver_line"></span> <span class="title_recommend ">{{girl.cateName}}</span>
        <span class="recommend_book">布衣神算</span>
        <div class="more font_icon ">
        	更多
        </div>
    </div>
    <ul class="bc_li_box" >
    	<li class="bc_li" ng-repeat="book in girl.cateBooks">
    		<div class="bc_pic fl">
    			<img ng-src={{book.coverPic}}>
    		</div>
    		<div class="bc_content fr">
    			<h4 class="bc_title">{{book.bookName}}</h4>
    			<p class="bc_txt">{{book.info}}</p>
    			<p class="bc_bottom">
    				<span class="author_name fl">{{book.bookAuthor}}</span>
    				<span class="font_num fr">{{book.fontNum}}</span>
    				<span class="state fr" ng-if="book.state==1")>连载</span>
    				<span class="state fr" ng-if="book.state==0")>完结</span>
    				<span class="cate fr">武侠</span>
    			</p>
    		</div>
    	</li>
    </ul>
</div>
