<div id="login" ng-controller="loginCtr">
    <header class="header">
        <div class="header_bookCity">
            <span class="font_icon fl back_icon">&#xe609;</span>
            <span ui-sref="index" class="nor_title">返回</span>
        </div>
    </header>
    <div class="contain">
        <div class="login_pic">
        </div>
        <div class="login_box">
            <input type="text" id="phone" class="ipt_sty" ng-model="phone" placeholder="请输入手机号" />
            <input type="password" id="pwd" class="ipt_sty" ng-model="password" placeholder="请输入密码" />
            <input type="text" id="comfirmCode" class="ipt_sty" ng-model="randomCode" placeholder="验证码" />
            <p id="random_code">1234</p>
            <button id="login_btn" ng-click="login()">登录</button>
        </div>
    </div>
    <div class="thirdpart_login">
        <span class="third_login_title">第三方登录</span>
    	<div class="third_login">
    		<img src="" class="third_login_pic" onclick="toLogin()" alt="QQ" />
    		<img src="" class="third_login_pic" onclick="openWx()" alt="wechat" />
    		<img src="" class="third_login_pic" alt="weibo" />
    	</div>
    </div>
</div>
<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="1105878266" data-redirecturi="http://localhost:8080/static/index.html" charset="utf-8"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
<script type="text/javascript">
	function toLogin() {
		//以下为按钮点击事件的逻辑。注意这里要重新打开窗口
		//否则后面跳转到QQ登录，授权页面时会直接缩小当前浏览器的窗口，而不是打开新窗口
		window.location.href='https://graph.qq.com/oauth2.0/authorize?client_id=1105878266&response_type=token&scope=all&redirect_uri=http://localhost:8080/static/index.html',
		'oauth2Login_10815',
		'height=525,width=585, toolbar=no, menubar=no, scrollbars=no, status=no, location=yes, resizable=yes';
	}
	function openWx(){
		window.location.href='https://open.weixin.qq.com/connect/qrconnect?appid=wx91788b2b3031ad98&redirect_uri=http://localhost:8080/static/index.html&response_type=code&scope=snsapi_login&state=3d6be0a4035d839573b04816624a415e#wechat_redirect';
	}
</script>