@font-face {
  font-family: 'iconfont';  /* project id 223080 */
  src: url('//at.alicdn.com/t/font_gzfuip00n6jhh0k9.eot');
  src: url('//at.alicdn.com/t/font_gzfuip00n6jhh0k9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_gzfuip00n6jhh0k9.woff') format('woff'),
  url('//at.alicdn.com/t/font_gzfuip00n6jhh0k9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_gzfuip00n6jhh0k9.svg#iconfont') format('svg');
}
.font_icon{
	font-style: normal;
	font-family: "iconfont";
}
.nav_icon{
	font-family: "iconfont";
	font-size: .4rem;
	font-style: normal;
}