body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img,
fieldset {
    border: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

body {
    font-size: 12px;
    font-family: "Microsoft Yahei";
}

input,
a {
    outline: none;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

.li_title {
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    padding: 0 .2rem;
    box-sizing: border-box;
    color: #cccccc;
    font-size: .18rem;
    background: #FFFFFF;
    .ver_line {
        float: left;
        width: 4px;
        height: 14px;
        margin-right: .1rem;
        margin-top: 0.15rem;
        background: #FFB5A1;
        border-radius: 4px;
    }
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: .12rem;
    .body {
        overflow: hidden;
        flex-grow: 1;
    }
    .header {
        width: 100%;
        height: 1rem;
        box-sizing: border-box;
        flex-shrink: 0;
        color: #FFFFFF;
        background: #5ED9CD;
        .nor_title {
            margin-left: .4rem;
            font-size: .3rem;
            background: #5ED9CD;
        }
        .mysearch {
            margin-right: .4rem;
            font-size: .26rem;
            margin-top: .06rem;
        }
        &>div {
            height: 100%;
            line-height: .98rem;
        }
    }
    .contain {
        width: 100%;
        flex-grow: 1;
        position: relative;
    }
    .footer {
        width: 100%;
        height: 1rem;
        box-sizing: border-box;
        border-top: solid 1px #ccc;
        flex-shrink: 0;
        .nav {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .navChoice {
                width: 25%;
                height: 100%;
                font-size: .2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .nav_icon {
                    font-size: .4rem;
                }
            }
            .navActive {
                color: #19A2DD;
            }
        }
    }
}
